
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p>#1 PROFİLİM SAYFASI</p>
<p>#2 TÜM BAŞLIKLARA PAGİNG</p>
<p>#3 MESAJLARDA SESSION</p>
<p>#4 OTURUM YÖNETİMİNİN MİMARİYE TAŞINMASI</p>
<p>#5 TOKEN KULLANIMI </p>


